name: Java to Excel Conversion

on:
  workflow_dispatch:
    inputs:
      java_folder:
        description: 'Path to folder containing Java files'
        required: true
        default: 'Mindustry/core/src/mindustry/'

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: 手动同步 mindustry 源代码
        uses: actions/checkout@v4
        with:
          repository: Anuken/Mindustry
          ref: ${{ inputs.branch || 'master' }}
          path: Mindustry

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Run Java converter
        run: java -jar target/java-to-excel-1.0-SNAPSHOT-jar-with-dependencies.jar 
            --input-folder "${{ github.event.inputs.java_folder }}" 
            --output-file java_fields_combined.xlsx

      - name: Upload error logs (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
             name: parsing-logs
             path: parsing_errors.log

      - name: Create zip archive
        if: success()
        run: zip -r java_fields_output.zip java_fields_combined.xlsx

      - name: Upload zip archive
        if: success()
        uses: actions/upload-artifact@v4
        with:
                  name: java-fields-archive
                  path: java_fields_output.zip
